<section class="bg-second min-vh-100  d-flex justify-content-center align-items-center">
    <div>
        <app-star [title]="'About Me'" [customColor]="'white'"></app-star>
        <div class="container">
            <div class="row text-white w-75 m-auto">
                <div class="col-md-6 p-4">
                    <p class="text-center">I am a skilled software web developer with expertise in frontend development using Angular. I am
                        passionate about creating clean, efficient, and user-friendly web applications that meet the
                        needs of my clients. I have a deep understanding of software development best practices and am
                        always eager to learn and improve my skills..</p>
                </div>
                <div class="col-md-6 p-4 ">
                    
                        <h6 class="fw-bolder"> Education:</h6>
                        <ul>
                            <li> Full Stack Developer 9-months profissional Diploma Using .NET, Route Acdemy,</li>
                            <li> professional front end web development Ministry of Communications Information Technology (MCIT),
                                Egypt.</li>
                        </ul>
                       <br>
                       
                    
                </div>
            </div>
        </div>
    </div>

</section>