
<footer class="bg-danger mb-0">
    <div class="upFooter  d-flex  justify-content-center  mx-auto py-3">
        <div class="p-3 "><a target="_blank" href="https://www.linkedin.com/in/obaid-ramadan-56a144180/"><i class="fab fa-linkedin fa-lg "></i></a></div>
        <div class="p-3 "><a target="_blank" href="https://github.com/obiedtaha/"><i class="fab fa-github fa-lg "></i></a></div>
    </div>
    <div class="downFooter mb-o">
        <h3 class="h6 text-center text-white py-3 m-0">&copy; 2024 <span class="text-second">Obaid Ramadan</span> All Rights Reserved</h3>
    </div>
</footer>