<div class="portfolio  min-vh-100">
    <app-star title="My Portfolio" customColor="#2b3d4f"></app-star>
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-4" *ngFor="let src of srcs">
                <div class=" position-relative  overflow-hidden m-1">
                    <img class="w-100 rounded-3" [src]="src" alt="image title for">
                    <div (click)="flag=false ; modelItem=src" role="button" class="layer position-absolute top-0 h-100 w-100 rounded-3 d-flex justify-content-center align-items-center">
                        <i class="fas fa-plus text-white fa-5x"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div (click)="hideModel($event.target , image )" [class.d-none]="flag" class="model position-fixed start-0 w-100 top-0 h-100 bg-black bg-opacity-25 d-flex  justify-content-center align-items-center">
        <img #image [src]="modelItem" class="w-50 rounded-3" alt="">
    </div>
</div>